<div class="archive-page page">
  <div class="header">
    <h3 class="title">Archive</h3>
    <div class="header-actions">
      <%= link_to 'Back', sessions_path, class: 'header-action', data: {'turbolinks-action': 'restore'} %>
    </div>
  </div>

  <div class="container">

    <turbo-frame id="word_count_tray" src="/sessions/word_count">
      loading...
    </turbo-frame>

    <div class="sessions-table-container">
      <table class="sessions-table">
        <thead>
        <tr>
          <th>Text</th>
          <th>Word count</th>
          <th colspan="3"></th>
        </tr>
        </thead>

        <tbody>

        <% @sessions.each do |session| %>
          <tr>
            <td>
              <div class="text-column"><%= render partial: 'text', locals: {text: session.text} %></div>
            </td>
            <td><%= session.word_count %></td>
            <td><%= link_to 'Show', session %></td>
            <td><%= link_to 'Edit', edit_session_path(session) %></td>
            <td><%= link_to 'Destroy', session, method: :delete, data: {confirm: 'Are you sure?'} %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>