<p id="notice"><%= notice %></p>

<h1>Sessions</h1>

<table>
  <thead>
    <tr>
      <th>Word count</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <div>
      Word Count Total: <%= @word_count_total %>
    </div>

    <% @sessions.each do |session| %>
      <tr>
        <td><%= session.word_count %></td>
        <td><%= session.text %></td>
        <td><%= link_to 'Show', session %></td>
        <td><%= link_to 'Edit', edit_session_path(session) %></td>
        <td><%= link_to 'Destroy', session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Session', new_session_path %>