<% content_for :header do %>
  <h3 class="title"><%= @story.title %> Outline</h3>
  <div class="header-actions">
    <%= link_to 'Back', story_path(@story), class: 'header-action', data: { 'turbo-action': 'restore' } %>
  </div>
<% end %>
<div class="hidden">
  <turbo-frame id="next-outline-item" target="_top">
    <% if @next_outline_item %>
      <%= render partial: 'outline_items/outline_item', locals: {story: @story, item: @next_outline_item}%>
    <% else %>
      <div>No more items to complete!</div>
    <% end %>
  </turbo-frame>
</div>

<h4>All Items</h4>
<turbo-frame id="outline_item_form">
  <a href="<%= new_story_outline_outline_item_path(@story)%>">Add New Item</a>
</turbo-frame>
<turbo-frame id="outline-items" class="outline-items">
  <%= render partial: "outline_items/outline_items", locals: {story: @story} %>
</turbo-frame>
