<% content_for :header do %>
  <h3></h3>
  <div class="header-actions">
    <%= link_to "Outline", story_outline_path(@story), class: 'header-action', data: {'turbo-action': 'push'} %>
    <%= link_to 'All Stories', stories_path, class: 'header-action', data: {'turbo-action': 'restore'} %>
  </div>
<% end %>
<div class="top">
  <div class="stats">
    <h3 class="title">
      <turbo-frame id="story_title">
        <a href="<%= edit_story_path(@story)%>"><%= @story.title %></a>
      </turbo-frame>
    </h3>
    <div>Word Count Total: <%= @word_count_total %></div>
    <div>Writing Sessions: <%= @story.writing_sessions.count%></div>
  </div>
  <%= link_to 'New Session', new_story_writing_session_path(@story), class: 'primary-link button-link' %>
</div>
<div class="story-details">
  <div>
    <h4>Outline</h4>
    <turbo-frame id="next-outline-item">
      <% if @next_outline_item %>
        <%= render partial: 'outline_items/outline_item', locals: {story: @story, item: @next_outline_item}%>
      <% else %>
        <div>No more items to complete!</div>
      <% end %>
    </turbo-frame>
    
  </div>
  <div>
    <h4>Previous Sessions</h4>
    <%= render partial: 'writing_sessions/writing_sessions', locals: { story: @story, writing_sessions: @writing_sessions, show_one: true } %>
  <div>
</div>
