<% if item.present? %>
  <div id="<%= dom_id item %>" class="outline-item">
    <%= form_with(model: [story, :outline, item], class: 'outline-item-form') do |form| %>
      <%= form.check_box :completed %>
      <%= form.text_area :text %>
      <%= form.submit "save" %>
    <% end %>
  </div>
<% end %>
