<!DOCTYPE html>
<html>

<head>
    <title><%= @title || 'Draft' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport" />
    <%= yield :meta %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" data-mutate-approach="sync"></script>
</head>

<body class="<%= controller.controller_name %> <%= controller.action_name %>">
    <% unless flash.empty? %>
      <script type="text/javascript" data-turbo-cache="false">
        toastr.options.preventDuplicates = true;
        toastr.options.closeMethod = 'fadeOut';

        <% flash.each do |f| %>
          <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
          toastr['<%= type %>']('<%= f[1] %>', {timeOut: 3});
        <% end %>
      </script>
    <% end %>

    <div class="page">
      <div class="header">
        <%= yield :header%>
      </div>

      <div class="container">
        <%= yield %>
      </div>
    </div>
</body>

</html>