<!DOCTYPE html>
<html>

<head>
    <title><%= @title || 'Draft' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" data-mutate-approach="sync"></script>
</head>

<body>
    <% unless flash.empty? %>
    <script type="text/javascript">
        <% flash.each do |f| %>
          <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
                toastr['<%= type %>']('<%= f[1] %>');
                <% end %>
    </script>
    <% end %>

    <div class="user-index-page page">
        <div class="container columns">
            <div>
                <%= image_tag('LogoDark.png', size: '150', class: 'logo dark') %>
                <%= image_tag('LogoLight.png', size: '150', class: 'logo light') %>
                <small class="by-text">by Curiosity & Conflict</small>
            </div>
            <div>
                <%= yield %>
            </div>
        </div>
    </div>
</body>

</html>