<% show_one = false unless show_one.present?%>

<turbo-frame id="writing_sessions">
  <div class="sessions-table-container" >
    <dl class="sessions-table">
      <% if @writing_sessions.count > 0%>
    
        <% if show_one %>
          <% session = writing_sessions.first%>
          <dd class="session">
            <div class="content">
              <div class="text-column"><%= render partial: 'writing_sessions/text', locals: {text: session.text} %></div>
              <div class="word-count"><%= session.word_count %></div>
            </div>
            <div class="actions">
              <%= link_to 'Resume', edit_story_writing_session_path(story, session), class: 'action-link', data: {"turbo-frame": "_top"} %>
              <%= link_to 'Destroy', story_writing_session_path(story,session), method: :delete, class: 'action-link', data: {confirm: 'Are you sure you want to delete this?'} %>
            </div>
          </dd>
          <% if writing_sessions.count > 1 %>
            <dd class="show-all">
              <a class="button-link" href="<%= story_writing_sessions_path(story) %>">Show All</a>
            </dd>
          <% end %>
            
        <% else %>
          <% writing_sessions.each do |session| %>
            <dd class="session">
              <div class="content">
                <div class="text-column"><%= render partial: 'writing_sessions/text', locals: {text: session.text} %></div>
                <div class="word-count"><%= session.word_count %></div>
              </div>
              <div class="actions">
                <%= link_to 'Resume', edit_story_writing_session_path(story, session), class: 'action-link', data: {"turbo-frame": "_top"}  %>
                <%= link_to 'Destroy', story_writing_session_path(story,session), method: :delete, class: 'action-link', data: {confirm: 'Are you sure you want to delete this?'} %>
              </div>
            </dd>
          <% end %>
        <% end %>
      <% else %>
      Nothing yet. Click "New Session" to get started!
      <% end %>
    </dl>
  </div>
</turbo-frame>