<div class="archive-page page">
    <div class="header">
        <h3 class="title">Archive</h3>
        <div class="header-actions">
            <%= link_to 'Back', writing_sessions_path, class: 'header-action', data: {'turbolinks-action': 'restore'} %>
        </div>
    </div>

    <div class="container">

        <div>
            Word Count Total: <%= @word_count_total %>
        </div>

        <div class="sessions-table-container">
            <dl class="sessions-table">
                <% @sessions.each do |session| %>
                <dd>
                    <div class="actions">
                        <%= link_to 'View', session, class: 'action-link' %>
                        <%= link_to 'Resume', edit_writing_session_path(session), class: 'action-link' %>
                    </div>
                    <div class="content">
                        <div class="text-column"><%= render partial: 'text', locals: {text: session.text} %></div>
                        <div class="word-count"><%= session.word_count %></div>
                    </div>
                    <div class="actions">
                        <%= link_to 'Delete', session, method: :delete, class: 'action-link', data: {confirm: 'Are you sure?'} %>
                    </div>
                </dd>
                <% end %>
            </dl>
        </div>
    </div>
</div>